    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Binary Digital</h2>
                <p>Binary Digital is a software solutions company based in Singapore with an international team of specialists from North America, Oceania, Asia and Europe.</p>
                <p>Previous projects involve training software involving Artificial Intelligence (AI), reverse engineering software and inter-software compatibility.</p>
                <img src="/assets/images/map.png">
            </div>
        </div>
    </section>