    <!-- About Section -->
    <section id="join-us" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Join Us</h2>
                <p>Our team of software specialists are looking for dynamic individuals to fill various technical roles.</p>

                <p>
                    <h4>Mid/Senior Python Engineer</h4>
                    <ul>
                     <li>You have been programming so long that code has become your mother tongue</li>
                     <li>Python is your go to language of choice but you can understand and write C/C++ if pushed</li>
                     <li>You are at home on Linux, and can quickly write up some bash scripts to solve small problems</li>
                     <li>Writing easy to read, beautiful, code is something you take pride in</li>
                    </ul>
                </p>



                <p>Please contact <a href="mailto:jobs@binarydigital.sg">jobs@binarydigital.sg</a> to find out more.
                </p>
            </div>
        </div>
    </section>
