    <!-- About Section -->
    <section id="join-us" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Join Us</h2>
                <p>Our team of software specialists are looking for dynamic individuals to fill various technical roles.</p>

                <h4>Junior reverse engineer & integrations developer</h4>
                <ul>
                    <li>Ability to read and understand low level languages such as C and Assembly</li>
                    <li>Hacker mindset - you like to figure out how things work and how to mess with it</li>
                    <li>You are motivated by technical challenges, such as CTFs, and have the perseverance to see them through</li>
                    <li>Writing easy to read, beautiful, code is something you take pride in</li>
                </ul>


                <h4>UX/Game/Front-end developer</h4>
                <ul>
                    <li>Programming is like your native language</li>
                    <li>Writing easy to read, beautiful, code is something you take pride in</li>
                    <li>You have a strong sense of UX design, making interfaces that users love to use</li>
                    <li>You are interested in browser and native game development</li>
                </ul>


                <p>Please contact <a href="mailto:jobs@binarydigital.sg">jobs@binarydigital.sg</a> to find out more.
                </p>
            </div>
        </div>
    </section>
